In [1]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [2]:
d = pandas.read_csv("pandas.csv")
print(d)

   No      Name  Age  Class Section  Phone number location
0  11  Abdullah   20     12  Ghouri     300300003   multan
1   2       ali   12     12  Ghouri     300300003   multan
2   3      omer   13     12  Ghouri     300300003   multan

In [3]:
import pandas
x = pandas.read_csv("pandas.csv" , header = None)
print(x)

    0         1    2      3        4             5         6
0  No      Name  Age  Class  Section  Phone number  location
1  11  Abdullah   20     12   Ghouri     300300003    multan
2   2       ali   12     12   Ghouri     300300003    multan
3   3      omer   13     12   Ghouri     300300003    multan

In [4]:
d.colums = ["Name","Age","Class","Section","new addition"]
print(d)

   No      Name  Age  Class Section  Phone number location
0  11  Abdullah   20     12  Ghouri     300300003   multan
1   2       ali   12     12  Ghouri     300300003   multan
2   3      omer   13     12  Ghouri     300300003   multan

C:\Users\ABDULL~1\AppData\Local\Temp/ipykernel_9436/1520031434.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  d.colums = ["Name","Age","Class","Section","new addition"]

In [5]:
d.set_index("No", inplace=True , drop=False)
d.set_index("Section", inplace=True , drop=False)
d.set_index("Class", inplace=True , drop=False)
d

       No      Name  Age  Class Section  Phone number location
Class
12     11  Abdullah   20     12  Ghouri     300300003   multan
12      2       ali   12     12  Ghouri     300300003   multan
12      3      omer   13     12  Ghouri     300300003   multan

In [6]:
# import pandas
# df2 = pandas.read_json("supermarkets.json")
# print(df2)

In [7]:
import pandas
from pandas import *
import os
os.listdir()

['.ipynb_checkpoints',
 'Adobe Photoshop 2020.lnk',
 'desktop.ini',
 'ecommerce website.txt',
 'Internet Download Manager.lnk',
 'Jupyter notebook',
 'pandas.csv',
 'pandas.ipynb',
 'pandas.txt',
 'Untitled.ipynb',
 'Zoom.lnk']

In [8]:
pandas.read_csv?

In [ ]:
import array
from array import *
arr = array("i",[])
user = int(input("Enter the length of the array  "))
for i in range(user):
    value = int(input("Enter the values  "))
    arr.append(value)
    
print(arr)

# in order to defined the indexes
x = int(input("Enter the value to find out the index of the value  "))
k  = 0
for e in arr:
    if e == x:
        print(k)
    k +=1

In [ ]:
import pandas
df = pandas.to_csv("pandas.csv")
print(df)