# Access List items

lists item are indexed and you can access them by using refering the index number

In [23]:
mylist = ["aple","banana","mango",1,2,3,4,5,21.23,32.3,353.2]
print(mylist[0])
print(mylist[1])
print(mylist[2])

print(mylist[0::2])  # Slicing
print(mylist[::-1])  # Reverse Slicing
print(mylist[-5::2]) # Negative Slicing
print(len(mylist))   # Length of my list

aple
banana
mango
['aple', 'mango', 2, 4, 21.23, 353.2]
[353.2, 32.3, 21.23, 5, 4, 3, 2, 1, 'mango', 'banana', 'aple']
[4, 21.23, 353.2]
11

## Check if item exits

In [29]:
list1 = ["abc", 34, True, 40, "male"]
print("abc" in list1)
if "abc" is not list1:
    print(False,"NO! it's exists")

True
False NO! it's exists

<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\abdul\AppData\Local\Temp\ipykernel_17708\1353873779.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if "abc" is not list1:

# Change list Items

To change the value of specific item, refer the index number and change that

In [34]:
mylist = ["apple", "banana", "cherry"]
mylist[2] = "Mango"
mylist

['apple', 'banana', 'Mango']

## Change a Range of items

In [37]:
mylist = ["apple", "banana", "cherry"]
mylist[0:] = ["ali","omer","hamza"]
mylist

['ali', 'omer', 'hamza']

### There are too many method to work on list

In [39]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
mylist = ["apple", "banana", "cherry"]
mylist.append("Omer")
print(mylist)

['apple', 'banana', 'cherry', 'Omer']

In [46]:
cls = mylist.clear()
cls

In [50]:
mylist = ["apple", "banana", "cherry"]
cop = mylist.copy()
cop

['apple', 'banana', 'cherry']

In [53]:
mylist.count("apple")

1

# Loop Through list

In [59]:
mylist = ["apple", "banana", "cherry"]
for i in mylist:
    print(i)

apple
banana
cherry

In [63]:
mylist = ["apple", "banana", "cherry"]
i  = 0
while i < len(mylist):
    print(mylist[i])
    i += 1

apple
banana
cherry

## Creating a list using Loop

In [68]:
square = []
for i in range(10):
    square.append(i * i)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Mapping

In [84]:
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num
nums = [41,45,35,67,87,53]
even = []
for num in nums:
    even.append(make_even(num))
print(even)

[42, 46, 36, 68, 88, 54]

In [90]:
def make_even(num):
    if num % 2 == 1:
        return num+1
    else:
        return num
x = [41,45,35,67,87,53]

# map(function,iteratable)

Even_numbers = list(map(make_even,x))
print(Even_numbers)

[42, 46, 36, 68, 88, 54]

In [103]:
def foo(num):
    if num % 2 == 1:
        return num + 1
    else:
        return num
x = [41,45,35,67,87,53]

even = list(map(foo,x))
print(even)

[42, 46, 36, 68, 88, 54]