# Tuples

* Tuples are used to store mulitple items in a single variable.
* A tuple is collection which is ordered and unchangeable.

In [26]:
tuple1 = ("hello", "world",1,2,3,33.3)
tuple1

('hello', 'world', 1, 2, 3, 33.3)

## Tuple items
* Tuples items are ordered, unchangeable, and allow duplicated values.
* Tuple items are indexed, the first item has index [0], seond item has  index [1] etc.

In [28]:
tuple1[0]

'hello'

## Ordered 
* When we say, tuple items are ordered mean, items have a defined order. and that order will not change.

## Unchangeable

* Tuples are unchangeable, mean once tuple is declared we can't change it

## Allow Duplicated

* Tuples are indexed, they can have items with the same values.

In [29]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## Tuple Length

* To check the length of the tuple use len() function

In [32]:
len(thistuple)

5

## Create Tuple With One Item
* If you will create tuple with one item, you have to put comma after the one item.
* Otherwise python interpreter will take it as string

In [31]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Tupes

* Tuple can be of any data tupe.

In [42]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male") # Tuple can have multiple data types

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print("===============")
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))
print(type(tuple4))

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
('abc', 34, True, 40, 'male')
===============
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

## Tuple Constructur

In [46]:
thistuple = tuple([1,2,3,4,5])
thistuple

(1, 2, 3, 4, 5)