# Access Tuples

* Tuples can be accessed Through the index or slicing 
* Foor Loop

## Indexing

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple[1])

banana

In [4]:
thistuple[1:3]

('banana', 'cherry')

In [8]:
thistuple[-5:-1]

('apple', 'banana', 'cherry', 'apple')

## Loop

In [30]:
for i in thistuple:
    print(i)

apple
banana
cherry
apple
cherry
Mango

In [32]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1 # update

apple
banana
cherry

## Check if item Exists

In [11]:
if "apple" in thistuple:
    print("Yes, It's present")
else:
    print("It's not present")

Yes, It's present

# Update Tuple

* Tuples are Unchangeable, we can change it, once it is declared.
* There are some other method to change Tuples

## Change Tuple Values

* You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [18]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
list1 = list(thistuple)
list1[1] = "Val Changed"
thistuple = tuple(list1)
thistuple

('apple', 'Val Changed', 'cherry', 'apple', 'cherry')

## Add items

In [23]:
# we can perfrom all the lists method, once tuple is converted into lists.

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
list1 = list(thistuple)
list1.append("Mango")
thistuple = tuple(list1)
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry', 'Mango')

## Add Tuples +

In [24]:
x = ("apple", "banana", "cherry")
y = ("orange", "cherry", "apple")
x + y

('apple', 'banana', 'cherry', 'orange', 'cherry', 'apple')

# Unpacking Tuples

* When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

* But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking".

In [27]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using Asterisk *

* if the number of variables is less thatn the numbers of values present in the tuple, you can add * to the variable name and the values will be assigned to the variable as a list.

* If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [28]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [29]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Joing Tuples

* To joing two or more tuples you can use the + Operators.

In [33]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Mulitply Tuples

* If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [34]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [38]:
tuple1 = (1, 2, 3)
print(tuple1 * 10)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [41]:
fruits = ("apple", "banana", "cherry") * 3
for i in fruits:
    print(i)

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

In [45]:
fruits = ("apple", "banana", "cherry") * 3
i = 0 # intilization
while i < len(fruits):
    print(fruits[i])
    i += 1
    
print('===========')
len(fruits)

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
===========

9

## Tuple Methods

In [47]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [60]:
fruits = ("apple", "banana", "cherry") 
# tuple.index(value) #Syntax
fruits.index("apple")

0

In [61]:
fruits = ("apple", "banana", "cherry") 
fruits.count("apple")

1

In [62]:
isinstance(fruits,tuple)

True