# Set

* Sets are used to store multiple items in single varaible.
* Set is a collection which is unordered, unchangeable, and uindexed.
* Sets are Written inside brackets.

In [2]:
my_set = {"Aple","Banana","Cherry","Mango"}
my_set

{'Aple', 'Banana', 'Cherry', 'Mango'}

## Set Items
* Set items are unordered, unchangeable, and do not allow duplicate values.

## Unordered

* Unordered means that the items in a set do not have a defined order.

* Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

## Unchangeable
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.

In [4]:
# Duplicates Not Allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [6]:
thisset = {"apple", "banana", "cherry", True, 1, 2} # value True and 1 is same
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

## Length

* Get the length of the set using the len() function.

In [7]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## Set Items - Data Types

* Set items can be of any data type:

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1,set2,set3)

{'banana', 'cherry', 'apple'} {1, 3, 5, 7, 9} {False, True}

In [12]:
set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

## Type of the Set

In [13]:
set1 = {"abc", 34, True, 40, "male"}
type(set1)

set

## Set Constructor

In [14]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}