# Access Set Items

* you cannot access items in a set by referring to and index or key 
* But you can loop through the set.

In [4]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    print(i)

apple
banana
cherry

In [5]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    print(i[2])

p
n
e

In [7]:
#Check the item present in the set or not using the membership operators
thisset = {"apple", "banana", "cherry"}
print("apple" in thisset)

True

In [13]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    if "apple " in i:
        print("Yes")

# Add Set Items

* Once set is declared it can be changed, but we can add.

In [14]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [16]:
thisset = {"apple", "banana", "cherry"}
thisset.add("magno")
thisset

{'apple', 'banana', 'cherry', 'magno'}

In [17]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'mango', 'papaya', 'pineapple', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'banana', 'kiwi', 'apple', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # if item doesn't exist, it will raise error

print(thisset)

{'apple', 'cherry'}

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana") # if the item doesn't exist, it will not raise error

print(thisset)

{'apple', 'cherry'}

In [24]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [26]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [33]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) # set of all the other sets
print(set3)

{'a', 'b', 1, 2, 3, 'c'}

In [28]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 'b', 1, 2, 3, 'c'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) # keep only the common

print(x)

{'apple'}

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) # Keep all but not duplicates

print(x)

{'banana', 'google', 'microsoft', 'cherry'}