In [ ]:
# These're my integer values
a=5
print(a)
print(type(a))

# These're my string values
b="Hello world!"
print(b)
print(type(b))
print(id(b))
# These're my float values
c=6.8
print(c)
print(type(c))

5
<class 'int'>
Hello world!
<class 'str'>
139975153435248
6.8
<class 'float'>

In [ ]:
# How we can give the name to the code
  # There are Eight ways to write the name of code

# 1st is:
varname="Ali"
print(varname)

# 2nd is:
varName="Hamza"
print(varName)

# 3rd is :
Varname="Omer"
print(Varname)

# 4th is:
VarName="Abdullah"
print(VarName)

# 5th is:
_varname="Talha"
print(_varname)

# 6th is:
var_name='Abbas'
print(var_name)

# 7th and the last:
_var_name='Khurram'
print(_var_name)

# 8th is:
varname5="Yasir"
print(varname5)

Ali
Hamza
Omer
Abdullah
Talha
Abbas
Khurram
Yasir

In [ ]:
# There are 3three ways to name the variable in pyhton, we will discuss them throughly

# 1st one is :
# Cammel case
# In this case, the first letter of every word should be small and after the first letter every word should be capital
myVariableNameIs="This is me Abdullah"
print(myVariableNameIs)

# 2nd is :
# Snake case
# in this case, the first letter of the every word should be capital
MyVariableNameIs="This is me Abbass"
print(MyVariableNameIs)

# 3nd is :
# Pascal case:
# in thi case, we use the underscore(_) after the every word 
my_variable_name="This is me Hamza"
print(my_variable_name)

This is me Abdullah
This is me Abbass
This is me Hamza

In [ ]:
# how we can give on variable to all the values and also separately
x,y,z="Ali","Omer","Hamza"
print(x)
print(y)
print(z)

# or how we  can give the one value the mutiple variables

x=y=z="Orange","Yellow"
print(x)
print(type(x))
print(y)
print(z)

Ali
Omer
Hamza
('Orange', 'Yellow')
<class 'tuple'>
('Orange', 'Yellow')
('Orange', 'Yellow')

In [ ]:
# Unpacking of the collections
fruits=[
        "apple","cherry","yellow","orange",'purple',"banana","Mango"
]
x,*y,z,h=fruits
print(x)
print(y)
print(z)
print(h)

apple
['cherry', 'yellow', 'orange', 'purple']
banana
Mango

In [ ]:
# concatination in the python
x="Awesome"
print("Hello, Pyhton is very "+ x + "" , "and very interesting language to understad")

Hello, Pyhton is very Awesome and very interesting language to understad

In [ ]:
x=("Hello, this is a python progaram")
print(x[3:9])
print(x[1:3])
print(x[4:9])
print(x[-5:-2])
print(x[-9:-1])

lo, th
el
o, th
gar
 progara

In [ ]:
x=("Hello, this is a python progaram")
# This is how we can make our string like in a capital and small words
print(x.upper())
print(x.lower())

# Now, we will check how we can remove the whitespaces from our string by using the strip() method
print(x.strip())

# how we can split the strings
print(x.split(","))

HELLO, THIS IS A PYTHON PROGARAM
hello, this is a python progaram
Hello, this is a python progaram
['Hello', ' this is a python progaram']

In [ ]:
# Formating
age =19
name="abdullah"
clss = 10
# value = 50 = 0 ...... 49(50-1)
c="My name is {}. And I'm {} year old an in {}th class"

print(c.format(name,age,clss))

My name is abdullah. And I'm 19 year old an in  10th class

In [ ]:
# Boolean value in the python
# There are some special character  < , > , => , <= , != ==
x=70
y=80 
if x == y:
  print(True)
else:
  print(False)

if x != y:
  print(True)
else:
  print(False)

if x > y:
  print(True)
else:
  print(False)

if x < y:
  print(True)
else:
  print(False)

# if x => y:
#   print(True)
# else:
#   print(False)

if x <= y:
  print(True)
else:
  print(False)

False
True
False
True
True

In [ ]:
# list
# list attributes in python
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# list method in the python

x=["ali","omer","talha","hamza","abdullah","yasir",]
print(x)


# This is the append() method in this mehtod we can add anything like string, integer, float, but remember that these will be added at the end of the list 
# The basic mean of the append is to iclude 
x.append('ali') 
print(x)


# The clear() method is used to clear the all the list
x.clear()
print(x)


# The copy() method is used to copy the all the item from the  list
x.copy()
print(y)

# The count() mehtod is use to count the items in list
# print(count(x))

# The extend() method is same as that the append
# x.extend("Niaz")
print(x)

# The index method is use to check the indexes of the list
z=['ali', 'omer', 'talha', 'hamza', 'abdullah', 'yasir',365.454,2548,2548]
z.index("omer")
print(z)

# The insert() method is use to insert the item at the specified index
x.insert(1,3)
print(x)

# The pop() method is used to remove the specific item
y=['ali', 'omer', 'talha', 'hamza', 'abdullah', 'yasir','hina']
y.pop(1)
print(y)

# The reverse() method is used to change the list (reverse)
y.reverse()
print(y)

y.sort()
print(y)

['ali', 'omer', 'talha', 'hamza', 'abdullah', 'yasir']
['ali', 'omer', 'talha', 'hamza', 'abdullah', 'yasir', 'ali']
[]
['abdullah', 'ali', 'hamza', 'hina', 'talha', 'yasir']
[]
['ali', 'omer', 'talha', 'hamza', 'abdullah', 'yasir', 365.454, 2548, 2548]
[3]
['ali', 'talha', 'hamza', 'abdullah', 'yasir', 'hina']
['hina', 'yasir', 'abdullah', 'hamza', 'talha', 'ali']
['abdullah', 'ali', 'hamza', 'hina', 'talha', 'yasir']

In [ ]:
# How we can check the len() of the list
u=['ali', 'omer', 'talha', 'hamza', 'abdullah', 'yasir']
print(len(u))

# There are three data types in the pyhton
x=["ali","omer","hamza"]
y=[1,2,3,4,5,6,7,8,9,0]
z=[1.2,3.2,6.5,4.5,6.50]
h=[True, False]
print(x)
print(y)
print(z)
print(h)

print(type(x))
print(type(y))
print(type(z))
print(type(h))

6
['ali', 'omer', 'hamza']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1.2, 3.2, 6.5, 4.5, 6.5]
[True, False]
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
# This is how, we can print the list item by using the positve and negative indexing
x=["me","i","you", "they"]
print(x[3])
print(x[1:3])
print(x[-3])
print(x[-0:-2])

they
['i', 'you']
i
['me', 'i']

In [ ]:
# check if the item exist in the list or not
L = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', 'h']
if "a" in L:
  print("yes")
else:
  print("No")

yes

In [ ]:
# This is how we can change the list item
L = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', 'h']
L[1]="Hello, world!"
print(L)

['a', 'Hello, world!', 'g', 'h']

In [ ]:
# Unpacking of the list 
x=['a','v','c','g','h']
green,*red, blu=x
print(green)
print(red) #Use of starick, if the number of values is less than the variables than we use the starick to take that values into the one variable
print(blu)

a
['v', 'c', 'g']
h

In [ ]:
# Set is basically a group or banch of words
set1={'a','b','c','d'}
print(set1)

{'b', 'a', 'd', 'c'}

In [ ]:
# this is how we can check the attributesof the list
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# We can check the type and length of the set by using their method of checking
group_of_words={'a','b','c','d'}
print(type(group_of_words))
print(len(group_of_words))




# set can also be of many types like string, integer, float and bolean values
string={"a","b"}
integer={1,2,4}
float={2.2,2.5}
boolean={True, False}
print(string)
print(integer)
print(float)
print(boolean)

<class 'set'>
4
{'b', 'a'}
{1, 2, 4}
{2.2, 2.5}
{False, True}

In [ ]:
# we can't access the list item directly, we only can access them by the for loop
set1={'a','b','c','d'}
for c in set1:
  print(c)

# check wheater the whole are if loop can run 
i=0
while i < len(set1):  #we have experienced from this that set does'nt contain the while loop, if you use, it will print  the set according to the number of total values in the set
  print(set1)
  i=i+1

# Check wheather the list comprehenison exits
se={'a','b','c','d','a','a'}
new={}
for x in se:
  if "a " in x:
    new.append(x)
    print(new)

b
c
d
a
{'b', 'c', 'd', 'a'}
{'b', 'c', 'd', 'a'}
{'b', 'c', 'd', 'a'}
{'b', 'c', 'd', 'a'}

In [ ]:
set1={'a','b','c','d'}
#we can add the item into the  set 
set1.add("ali")
print(set1)

{'c', 'a', 'b', 'd', 'ali'}

In [ ]:
# we can also add a one set to another
y={1,2,3,4,5,6,7}
s={'a','b','c','d'}
y.union(s)
print(y)

y.update(s)
print(y)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 'c', 'a', 'b', 'd'}

In [ ]:
# we can also check the duplicates values in the set by usig the intersection() method
set1={'a','b','c','d'}
y={1,2,3,4,5,6,7,"a","b"}
set1.intersection_update(y)
print(set1)

{'b', 'a'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
set1=x.intersection(y)
print(set1)

{'apple'}

In [ ]:
# Dictionaries

In [ ]:
# What is dictionary
#  Dictionary used to store data

In [ ]:
thisdict={
    "name":"Ali",
    "Father":"liquat",
    "Roll No":15,
    "class":12
}
print(thisdict)


# If we want to print the specific item then there are two mwthod to print them 
# NO 1:
print(thisdict["Father"])

# NO 2:
x = thisdict.get("class")
print(x)

{'name': 'Ali', 'Father': 'liquat', 'Roll No': 15, 'class': 12}
liquat
12

In [ ]:
# if you want to remvoe the specific  item then use the  pop()
thisdict={
    "name":"Ali",
    "Father":"liquat",
    "Roll No":15,
    "class":12
}
x=thisdict.pop("class")
print(x)
print(thisdict)


# Another method to remove the item is 
del thisdict["Roll No"]
print(thisdict)

# if you want to clear the whole dictionar then use this 
thisdict.clear()
print(thisdict)

12
{'name': 'Ali', 'Father': 'liquat', 'Roll No': 15}
{'name': 'Ali', 'Father': 'liquat'}
{}

In [ ]:
# This is how we can check the lenght and type of the dictionary
thisdict={
    "name":"Ali",
    "Father":"liquat",
    "type":True,
    "Roll No":15,
    "class":12
}
print(len(thisdict))
print(type(thisdict))

5
<class 'dict'>

In [ ]:
# We can also get the keys of the dictionary
thisdict={
    "name":"Ali",
    "Father":"liquat",
    "Roll No":15,
    "class":12
}
x=thisdict.keys()
print(x)

dict_keys(['name', 'Father', 'Roll No', 'class'])

In [ ]:
# nested dictionaries and their types of printing 

child1 ={
    "Name":"Abdullah",
    "Class":45
}
child2 ={
    "Name":"Ali",
    "Class":25
}
child3 ={
    "Name":"Hamza",
    "Class":23
}
myfamily ={
    "Child1":child1,
    "Child2":child2,
    "Child3":child3
}
print(myfamily)

{'Child1': {'Name': 'Abdullah', 'Class': 45}, 'Child2': {'Name': 'Ali', 'Class': 25}, 'Child3': {'Name': 'Hamza', 'Class': 23}}

In [ ]:
myfamily={
    "child1" :{
    "Name":"Abdullah",
    "Class":45
},
"child2" :{
    "Name":"Ali",
    "Class":25
},
"child3 ":{
    "Name":"Hamza",
    "Class":23
},
}
print(myfamily)

{'child1': {'Name': 'Abdullah', 'Class': 45}, 'child2': {'Name': 'Ali', 'Class': 25}, 'child3 ': {'Name': 'Hamza', 'Class': 23}}